<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
   <head>
      <title>HTML5 Gallery Example</title>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
      <!-- Reference to html5gallery.js -->
      <script type="text/javascript" src="views/html5gallery/jquery.js"></script>
      <script type="text/javascript" src="views/html5gallery/html5gallery.js"></script>
      <style type="text/css">
         body, html {
         height: 100%;
         margin: 0;
         padding: 0;
         }
      </style>
   </head>
   <body>
      <div style="display:none;margin:0 auto;" 
         class="html5gallery"
         data-responsive="true"
         data-responsivefullscreen="true"
         data-html5player="true"
         data-autoslide="true" 
         data-skin="gallery" 
         data-showtitle="false" 
         data-showsocialmedia="false" 
         data-showfullscreenbutton="false"   
         data-autoplayvideo="true" 
         data-width="800" 
         data-height="450" 
         data-effect="slide" 
         data-resizemode="fill" 
         data-padding="0"
         data-carouselmargin="-150"
         data-galleryshadow="false"
         data-slideshadow="false"
         data-showcarousel="false" 
         data-xml="views/playlist.xml"
         >
   </body>
</html>
